<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.local.KeyRemapping</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/hidutil</string>
        <string>property</string>
        <string>--set</string>
        <string>{"UserKeyMapping":[
            {
              "HIDKeyboardModifierMappingSrc": 0x700000065,
              "HIDKeyboardModifierMappingDst": 0x7000000E6
            },
            {
              "HIDKeyboardModifierMappingSrc": 0x700000046,
              "HIDKeyboardModifierMappingDst": 0x700000068
            },
            {
              "HIDKeyboardModifierMappingSrc": 0x700000047,
              "HIDKeyboardModifierMappingDst": 0x700000069
            },
            {
              "HIDKeyboardModifierMappingSrc": 0x700000048,
              "HIDKeyboardModifierMappingDst": 0x70000006A
            }
        ]}</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
